
@{
    ViewBag.Title = "Games";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/GameViewModel.js"></script>

<h2>Games</h2>

<div id="displayNode">@Html.Partial("GameList")</div>
<br />
<div id="createNode">@Html.Partial("CreateGame")</div>